.navbar {
  width: 16vw;
  justify-content: center;
  background-color: #7e685a;
  height: 100vh;
  color: white;
}

.navbar h2 {
  padding-top: 10px;
  padding-bottom: 20px;
  margin-bottom: 0;
  font-weight: 700;
  color: #afd275;
}
.navbar h4 {
  padding-bottom: 20px;
  padding-top: 20px;
  color:#C2B9B0
}

.link {
  margin: 10px 10px;
}

.link a {
  color:#C2B9B0;
  font-size: 20px;
}

.link a:hover {
  color: #e7717d;
  text-decoration: none;
}

.hr {
  border-color:  #e7717d;
  width: 100%;
  border-width: 3px;
   margin-top: 3vh; 
}

